* {
    margin: 0;
    padding: 0;
  }

.mainbackground{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 500px;
    background: rgb(36,111,10);
    background: radial-gradient(circle, rgba(36,111,10,1) 0%, rgba(9,121,30,1) 44%, rgba(87,108,97,1) 100%);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.menu{
    display: flex;
    width: 100%;
    height: 130px;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}



.myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton:hover { 
    transform: scale(1.2); 
}



.image{
    width: 100px;
    height: 100px;
}

.UBT{
    font-size: 15px;
}

.githublink{
    font-size: 15px;
}

.bottomtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.logindiv{
    display: flex;
    width: 550px;
    height: 250px;
    background: lightblue;
    flex-direction: column;
    align-items: center;
}

.loginBar{
    display: flex;
    height: 40px;
    width: 550px;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.login{
    display: flex;
    width: 50%;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border: royalblue;
    border-color: royalblue;
    border-style: double;
}
.register{
    display: flex;
    width: 50%;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border: royalblue;
    border-color: royalblue;
    border-style: double;
}

.username{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.loginbutton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    margin-top: 20px;
}
.loginbutton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.loginbutton:active {
	position:relative;
	top:1px;
}

#fname{
    width: 250px;
    height: 17px;
    font-size: 13px;
}

.emriR{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.usernameR{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.passwordR{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}